extends layout

block content
    .blog-list-page
        .header
            h2 The Blog
            h3 Articles and Commentary from Brother Chris Kitchens
        .blog-listings
            each post in records.blog_list
                if post.fields.published
                    .blog-entry
                        each img in post.fields.featured_image 
                            img(src="#{img.url}",alt="entry-image")
                        .entry-text
                            .entry-header
                                h3 
                                    a(href="#{rooturl}/posts/#{slugify(post.fields.title)}.html")= post.fields.title
                                p.description 
                                    strong Posted On:
                                    if post.fields.date
                                        | #{dateFormat(post.fields.date, 'fullDate')} •
                                    else
                                        | June 3,2016 •
                                    strong Author:
                                    | #{post.fields.author_name} •  
                                    strong Category:
                                    | #{post.fields.categories}
                            .entry-description
                                if post.fields.description
                                    != md(post.fields.description)

                                a.button(href="#") Read More